body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.a{
    align-content: center;
    text-align: center;
}

.topnav {
    background-color: #6C298B;
    overflow: hidden;
    align-items: center;
    align-content:center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ddd;
}

.topnav a.active {
    background-color: rgba(255, 255, 255, 0.4);

}