body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background:#000000CC;
}
.a{
    align-content: center;
    text-align: center;
}

.topnav {
    background-color: #6C298B;
    overflow: hidden;
    align-items: center;
    align-content:center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ddd;
}

.topnav a.active {
    background-color: rgba(255, 255, 255, 0.4);

}

.container {
    width: 100vw;
    height: 100vh;
    background: #000000CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 80%;
    align-self: center;
    margin: 0 auto;
    display: flex;
    background:#D6D6D6B0;
    border-radius: 73px;
    opacity: 1;
}
.logo-img {
    width: 80%;
    align-self: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 73px;
    opacity: 1;
}

.login-btn{
    margin: 0 auto;
    width:50px;

}


.login-container {
    margin: 0 auto;
    display: flex;
    width: 458px;
    height: 300px; 
    background: #D6D6D6B0;
    border: 1px solid #707070;
    border-radius: 82px;
    opacity: 1;
}

.register-container {
    margin: 0 auto;
    display: flex;
    width: 458px;
    height: 700px; 
    background: #D6D6D6B0;
    border: 1px solid #707070;
    border-radius: 82px;
    opacity: 1;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}

form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}

button {
    margin: auto;
    margin-top: 2em;
    width: 50px;
    height: 50px;
    background: transparent url('../img/Forward Arrow.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 0;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 14px;
}

input {
    background-color: transparent;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    margin-top: 3em;
    border: none;
    border-bottom: 1px solid gray;
    align-self: center;
}

form{
    margin: 0 auto;
    margin-top: 2em;
    width: 60%;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }
    .login-container,
    .logo {
        width: 100%;
    }
    form {
        margin: auto;
    }
    img {
        height: 7em;
        margin: 2em;
    }
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #3D8EF3 0%, #2251B9 100%) 0% 0% no-repeat padding-box;
}

main {
    width: 80vw;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav>img {
    width: 60%;
    margin: 2em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
}

.button {
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 0.2rem;
    width: 60%;
}

ul {
    list-style-type: none;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    height: 100%;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
    padding: 0;
}

li {
    text-align: left;
    color: white;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-project {
    background: #2E6CD3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
}

.add-project>i {
    padding: 1em 1em;
}

.search-bar {
    width: 70%;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
}